.principalContainer {
    display: grid;
    grid-template-columns: 80px 1fr 3fr 1fr 80px;
    grid-template-rows: 10% 90%;
    z-index: 1000;
    height: 100vh; 
    position: relative; 
}
.drawer {
    grid-column: 1;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF6347;
    margin: 10px;
    border-top-left-radius: 15px;
}

.drawerMenu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: 0.3s;
    z-index: 1001; 
}

.drawerMenu.open {
    left: 0;
}



.closeButton {
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    text-align: right;
}

.menuItems, .userMenuItems {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.item:hover {
    background-color: #444;
}

.user {
    margin: 10px;
    width: 50px;
    padding: 15px;
}

.container {
    grid-column: 3;
    grid-row: 1;
    
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #4682B4;

    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;

    display: flex;
    flex-direction: column;  
    align-items: center;   
    justify-content: center; 
}

.icons {
    display: flex;
    flex-wrap: wrap;          
    justify-content: center;
    gap: 30px;            
    height: 100%;
    width: 100%;
}


.icon {
    font-size: 2rem;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.userIcon {
    font-size: 2rem;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.userIcon img {
    width: 45px; 
    height: 45px; 
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}
.userIcon img:hover {
    transform: scale(1.1)
}


.icon-active {
    font-size: 2rem;
    color: white;
    background-color: #61CE70;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #61CE70;
}

.bigIcon {
    font-size: 4rem;
    color: gray;
    cursor: pointer;
    transition: color 0.3s ease;
}

.bigIcon:hover {
    color: #61CE70;
}

.underline {
    width: 0%;
    height: 0px;
    background: #61CE70;
    border-radius: 9px;
}

.userDrawer {
    grid-column: 5;
    grid-row: 1;
    background-color: #DAA520;
    border-top-right-radius: 15px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.userDrawerMenu.open {
    right: 0;
}



.searchBox {
    position: absolute;
    left: 50px;
    top: 200px;
    z-index: 1050;

    width: 350px;
    height: 700px;

    margin: 10px;
    padding: 20px;
    padding-bottom: 0;

    border-bottom-left-radius: 15px;

    background-color: transparent;
    overflow: hidden;
    cursor: grab;
}

.searchBox:active {
    cursor: grabbing; 
}

.searchBox .jsonInfo {
    border-bottom-left-radius: 15px;
    color: white;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 10px;
}

.searchBox .jsonInfo h1 {
    background-color: #4682B4;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
}

.emptySpaceOne {
    grid-row: 1;
    grid-column: 2;
    color: white;
    background-color: #2E8B57;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.emptySpaceOne h1 {
    color: white;
}

.emptySpaceTwo {
    grid-row: 1;
    grid-column: 4;
    background-color: #FF1493;
    margin: 10px;
}

.emptySpaceTwoDivInside {
    display: flex; 
    align-content: center;
    justify-content: center;
    height: 100%;
    margin-top: 5px;
    color: white;
}


.userOverlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0; z-index: 1001;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
    opacity: 0; visibility: hidden;  
}

.userOverlay.open {
    opacity: 1; visibility: visible;
}
